body {
  margin: 0;
  font-family: var(--font-body);
  color: var(--text-medium);
  line-height: 1.6;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}
